img {
    height: 50px;
    width: 150px;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

body {
    background-image: url('../img/pattern.jpg');
    margin: 0;
}

li {
    display: inline;
    margin-right: 30px;
    color: blue;
}

a {
    text-decoration: none;
    font-family: 'Lilita One', cursive;
}

main {
    background-color: white;
    margin: 70px 200px 30px;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

article {
    border-bottom: 2px solid gray;
}

footer {
    background-color: black;
    padding: 2px;
}

.copyright {
    text-align: center;
    color: white;
}